{% extends "new_app/base.html"%}
{% block body_block %}

<div class="jumbotron">
  <div class="container">
    <h1>سازمان اهدای خون</h1>
    <h3>شرايط اهداي خون</h3>
    <ul>
      <li>حداقل سن 18 سال تمام و حداكثر 60 سال (اهداكنندگان مستمر تا 65)</li>
      <li>حداقل وزن 50 كيلوگرم</li>
      <li>فواصل اهدا خون هر 8 هفته يكبار مشروط به آنكه تعداد دفعات آن  در طول يكسال برای آقایان از 4 بار و برای خانم ها از 3بار تجاوز ننمايد .</li>
      <li>همراه داشتن اصل كارت شناسايي (شناسنامه، گواهينامه، گذرنامه و برای اهداکنندگان بار اول کارت ملی الزامی می باشد)</li>
      
    </ul>
  </div>
</div>

{% endblock %}
