{% extends 'new_app/base.html' %}
{% block body_block %}

<div class="jumbotron">
  <div class="container">
    <h1>please Login</h1>
    <form action="{% url 'new_app:user_login' %}" method="post">
      {% csrf_token %}
      <label for="username">نام کاربری:</label>
      <input type="text" name="username" placeholder="Enter Username">

      <label for="password">رمز:</label>
      <input type="password" name="password">

      <input type="submit" name="" value="Login">
    </form>

  </div>

</div>

{% endblock %}
